@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Jost';
}

.container {
  max-width: 90rem;
  margin: auto;
}

.navbar {
  min-height: 2.4375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10.3125rem;
}

.header-separator {
  height: 1px;
  background-color: #ECF3FF;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1.875rem;
  margin: 0;
  padding: 0;
}

.header-nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 141%;
  color: #5D6C7B;
}

.header-socials {
  display: flex;
  align-items: center;
  gap: 0.5313rem;
}

.header-phone {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 141%;
  color: #282739;
  text-decoration: none;
}

.header {
  padding: 1.8125rem 10.3125rem 0 10.3125rem;
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 144%;
  color: #282739;
  text-transform: uppercase;
  margin-right: 2.1875rem;
}

.button {
  border: none;
  border-radius: 5px;
  color: #FFF;
  background-color: #6F73EE; 
  cursor: pointer;
}

.header-button {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  padding: 0.5rem 1.125rem 0.5625rem 0.9375rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 143%;
  margin-right: 1.25rem;
}

.header-button-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.3125rem;
  padding-top: 0.4375rem;
  padding-bottom: 0.375rem;
}

.header-button-line {
  height: 1px;
  background-color: #FFF;
  width: 0.8125rem;
}

.header-button-line:nth-child(3) {
  width: 0.4375rem;
}

.header-controls {
  display: flex;
  border-radius: 5px;
  border: 3px solid #6F73EE;
  overflow: hidden;
  flex-grow: 1;
  margin-right: 2.9375rem;
  height: 2.5rem;
}

.header-input {
  border: none;
  flex-grow: 1;
  height: 100%;
  padding-left: 1.25rem;
  color: #5D6C7B;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 143%;
}

.header-input:focus {
  outline: none;
}

.button-search {
  border-radius: 0;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1.5625rem;
}

.header-link {
  text-decoration: none;
  color: #282739;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 143%;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.banner {
  margin-top: 2.5rem;
  padding: 0 1.875rem;
}

.no-webp .banner-image {
  background-image: url("../img/woman-riding-scooter.jpg");
}

.banner-image {
  background-image: url("../img/woman-riding-scooter.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: 10px;
  overflow: hidden;
}
.banner-content {
  background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%);
  padding: 3.5rem 8.5rem;
  color: #FFF;
}

.banner-schedule {
  display: flex;
  align-items: center;
}

.banner-address {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 141%;
  margin-left: 0.5rem;
  margin-right: 0.625rem;
}

.banner-time {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 141%;
}

.banner-title {
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 142%;
  text-transform: uppercase;
  max-width: 38.25rem;
  margin-top: 1.1875rem;
  margin-bottom: 0.4375rem;
}

.banner-text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 145%;
  margin-top: 0;
  margin-bottom: 1.75rem;
}

.banner-features {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2.1875rem;
  padding: 0;
  margin-bottom: 2.375rem;
}

.banner-features-item {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.banner-features-item-icon {
  background: rgb(141, 145, 241);
  padding: 0.75rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-features-item-text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 128%;
  max-width: 143px;
  margin: 0;
}

.button-light {
  border-radius: 5px;
  background-color: #FFF;
  color: #6F73EE;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 143%;
  border: none;
  cursor: pointer;
}

.banner-button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.section {
}
.test-drive {
  margin-top: 4.5rem;
  margin-bottom: 6.25rem;
  padding-left: 10.3125rem;
  padding-right: 1.875rem;
  display: flex;
  gap: 5.3125rem;
}

.section-wrapper {
  padding-top: 1.75rem;
}

.section-title {
  text-transform: uppercase;
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 143%;
  margin: 0;
}

.test-drive-title {
  margin-top: 0;
  margin-bottom: 1.875rem;
}

.section-content {
}

.section-list-title {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 115%;
  margin-top: 0;
  margin-bottom: 1.125rem;
}

.section-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 144%;
}

.section-list-icon {
  margin-right: 0.625rem;
}

.test-drive-image {
  border-radius: 10px;
  height: 26.375rem;
  width: 32.1875rem;
  object-fit: cover;
}

.education {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  display: flex;
  gap: 5.9375rem;
  padding-left: 1.875rem;
  padding-right: 5.5rem;
}

.education-image {
  border-radius: 10px;
  height: 28.9375rem;
  width: 32.1875rem;
  object-fit: cover;
}

.education-title {
  margin-top: 0;
  margin-bottom: 1.875rem;
}

.models-title {
  max-width: 45.75rem;
  text-align: center;
  margin: auto;
  margin-bottom: 3.125rem;
}

.models-wrapper {
  display: flex;
  padding-left: 10.375rem;
  padding-right: 10.375rem;
  gap: 1.875rem;
}
.model-card {
  border-radius: 10px;
  border: 1.5px solid #EAEBED;
  overflow: hidden;
  max-width: 15.9375rem;
  position: relative;
}

.model-bage {
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 141%;
  color: #FFF;
  position: absolute;
  top: 10px;
  left: 10px;
}

.red-bage {
  background-color: #EE685F;
  padding: 4px 9px;
}

.green-bage {
  background-color: #75D14A;
  padding: 4px 8px;
}

.card-icon {
  position: absolute;
  top: 18px;
  right: 17px;
}

.models-card-image {
  background-color: #F0F1F5;
  padding: 27px 10px 22px 3px;
}

.card-image {
  width: 15.125rem;
  height: 11.375rem;
}

.card-title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 144%;
  color: #282739;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.card-content {
  padding: 1.25rem 1.5625rem;
}

.characteristics {
  padding: 0;
  list-style-type: none;
  columns: 2;
  margin: 0;
}

.characteristics-item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 114%;
  color: #5D6C7B;
  margin-bottom: 1rem;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.price-old {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 141%;
  color: #5D6C7B;
  text-decoration: line-through;
  margin: 0;
}

.price-new {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 145%;
  color: #282739;
}

.card-footer-icons {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.card-footer-icon {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 1.3px solid #EAEBED;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-button {
  width: 100%;
  font-size: 0.75rem;
  padding: 0.625rem 0 0.625rem 0;
}


.cta {
  margin-top: 6.25rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  margin-bottom: 6.25rem;
  background-color: #F4F7FB;
  padding-top: 5.5rem;
  padding-left: 8.4375rem;
  padding-bottom: 4.875rem;
  border-radius: 10px;
  position: relative;
}

.cta-title {
  max-width: 38.3125rem;
  margin-bottom: 2.5rem;
}

.cta-form-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 143%;
  color: #282739;
  margin-top: 0;
  margin-bottom: 1.25rem;
}
.input-group-wrapper {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}
.input {
  padding: 15px 0 15px 25px;
  border-radius: 5px;
}
.phone-input {
  border: 1px solid #EAEBED;
  font-weight: 400;
  font-size: 1rem;
  line-height: 143%;
  color: #5D6C7B;
  min-width: 16.4375rem;
}

.cta-form-button {
  padding: 15px 25px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 143%;
}
.cta-form-footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.cta-checkbox {
  width: 1rem;
  height: 1rem;
  border-color: #F4F7FB;
  border-radius: 2px;
}

.cta-checkbox:checked {
  background-color: #FFF;
  border-color: #F4F7FB;
  color: #6F73EE;
}
.cta-form-footer-text {
  margin: 0;
  max-width: 19.1875rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 116%;
  color: #282739;
}

.cta-form-footer-link {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 116%;
  color: #282739;
}

.cta-image {
  position: absolute;
  bottom: 0;
  right: 180px;
}

.footer {
  background-color: #F4F7FB;
}
.footer-header {
  background-color: #6F73EE;
}

.footer-header-wrapper {
  padding: 23px 165px 21px 165px;
  display: flex;
  align-items: center;
  gap: 5.9375rem;
}

.footer-title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 144%;
  color: #FFF;
  max-width: 445px;
  text-transform: uppercase;
  margin: 0;
}

.footer-form {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 1.25rem;
}

.footer-input {
  flex-grow: 1;
  color: #FFF;
  background-color: #FFFFFF33;
  border: none;
}

.footer-input::placeholder {
  color: #FFF;
}

.input:focus {
  outline: none;
}

.footer-button {
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
}

.footer-top {
  padding: 46px 165px 76px 165px;
  display: flex;
}

.footer-menu-wrapper:nth-child(1) {
  margin-right: 7.8125rem;
}

.footer-menu-wrapper:nth-child(2) {
  margin-right: 6.875rem;
}

.footer-menu-wrapper:nth-child(3) {
  margin-right: 4.1875rem;
}

.footer-menu-title {
  margin-top: 0;
  margin-bottom: 1.0625rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 144%;
  color: #282739;
}

.footer-menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
 
}

.footer-menu-item {
  margin-bottom: 0.625rem;
  
}
.footer-menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 143%;
  color: #5D6C7B;
}
.footer-menu-column-2 {
  columns: 2;
  column-gap: 2.5rem;
}
.footer-contacts-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-contacts-title {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 141%;
  color: #282739;
  margin-top: 0;
  margin-bottom: 0.3125rem;
}
.footer-contacts-phone {
  font-weight: 500;
  font-size: 1rem;
  line-height: 143%;
  color: #282739;
  text-decoration: none;
}
.footer-contacts-schedule {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 141%;
  color: #5D6C7B;
  margin-top: 0.4375rem;
}
.footer-link {
  text-decoration: none;
  color: #6F73EE;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 141%;
}

.footer-separator {
  max-width: 69.375rem;
  margin: auto;
  height: 1px;
  background-color: #5D6C7B;
  opacity: 0.15;
}

.footer-bottom {
  padding: 2.25rem 10.3125rem 2.125rem 10.3125rem;
  display: flex;
  align-items: center;
}

.footer-logo {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 143%;
  color: #282739;
  margin: 0 3.6875rem 0 0;
}

.load-badges-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-right: 15.625rem;
}

.load-badge {
}

.social-badges-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.social-badge {
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8125rem;
  min-width: 7.6875rem;
  min-height: 2.8125rem;
  border-radius: 5px;
}

.social-badge-content {
}
.social-badge-title {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 142%;
  color: #282739;
  margin: 0;
}

.social-badge-subscribers {
  margin: 0;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 140%;
  color: #5D6C7B;
}

.footer-wrapper {
  padding: 1.125rem 10.3125rem;
  display: flex;
  align-items: center;
}

.footer-legal {
  display: flex;
  align-items: center;
  gap: 2.75rem;
  margin-right: 23.9375rem;
}

.footer-legal-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 141%;
  color: #5D6C7B;
}

.footer-payments-wrapper {
  margin-right: 2.3125rem;
}

.footer-payments-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.payment-badge-link {
  min-width: 2.125rem;
  min-height: 1.5rem;
  border-radius: 3px;
  border: 0.5px solid #EAEBED;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-chats-wrapper {
  display: flex;
  align-items: center;
}
.footer-chats-text {
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 142%;
  color: #282739;
  margin-right: 0.9375rem;
}

.footer-social-icon:not(:last-child) {
  margin-right: 0.875rem;
}