@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Jost';
}

.container {
  max-width: 90rem;
  margin: auto;
}

.navbar {
  min-height: 2.4375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10.3125rem;
}

.header-separator {
  height: 1px;
  background-color: #ECF3FF;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1.875rem;
  margin: 0;
  padding: 0;
}

.header-nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 141%;
  color: #5D6C7B;
}

.header-socials {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-socials-link {
  padding-top: 0.25rem;
}

.header-phone {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 150%;
  color: #282739;
  text-decoration: none;
}

.header {
  padding: 1.6875rem 10.3125rem 0 10.3125rem;
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 144%;
  color: #282739;
  text-transform: uppercase;
  margin-right: 2.1875rem;
}

.button {
  border: none;
  border-radius: 5px;
  color: #FFF;
  background-color: #6F73EE; 
  cursor: pointer;
}

.header-button {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 144%;
  margin-right: 1.25rem;
  height: 2.5rem;
  padding-left: 0.9375rem;
  padding-right: 1.125rem;
}

.header-button-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4px;
  padding-top: 0.4375rem;
  padding-bottom: 0.375rem;
}

.header-button-line {
  height: 1px;
  background-color: #FFF;
  width: 0.8125rem;
}

.header-button-line:nth-child(3) {
  width: 0.4375rem;
}

.header-controls {
  display: flex;
  border-radius: 5px;
  border: 1px solid #6F73EE;
  overflow: hidden;
  flex-grow: 1;
  margin-right: 2.9375rem;
  height: 2.5rem;
}

.header-input {
  border: none;
  flex-grow: 1;
  height: 100%;
  padding-left: 1.25rem;
  color: #5D6C7B;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 143%;
}

.header-input:focus {
  outline: none;
}

.button-search {
  border-radius: 0;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1.5625rem;
}

.header-link {
  text-decoration: none;
  color: #282739;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 143%;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.banner {
  margin-top: 2.5rem;
  padding: 0 1.875rem;
}

.no-webp .banner-image {
  background-image: url("../img/woman-riding-scooter.jpg");
}

.banner-image {
  background-image: url("../img/woman-riding-scooter.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: 10px;
  overflow: hidden;
}
.banner-content {
  background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%);
  padding: 3.5rem 8.5rem;
  color: #FFF;
}

.banner-schedule {
  display: flex;
  align-items: center;
}

.banner-address {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 154%;
  margin-left: 0.5rem;
  margin-right: 0.625rem;
  letter-spacing: 0.3px;
}

.banner-time {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 141%;
}

.banner-title {
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 143%;
  text-transform: uppercase;
  max-width: 38.25rem;
  margin-top: 1.1875rem;
  margin-bottom: 0.4375rem;
}

.banner-text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 145%;
  margin-top: 0;
  margin-bottom: 1.75rem;
}

.banner-features {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2.4375rem;
  padding: 0;
  margin-bottom: 2.375rem;
}

.banner-features-item {
  display: flex;
  align-items: center;
  gap: 1.0625rem;
  letter-spacing: 0.3px;
}

.banner-features-item-icon {
  background: rgb(141, 145, 241);
  padding: 0.75rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-features-item-text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 128%;
  max-width: 8.9375rem;
  margin: 0;
}

.button-light {
  border-radius: 5px;
  background-color: #FFF;
  color: #6F73EE;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 143%;
  border: none;
  cursor: pointer;
}

.banner-button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.test-drive {
  margin-top: 4.5rem;
  margin-bottom: 6.25rem;
  padding-left: 10.3125rem;
  padding-right: 1.875rem;
  display: flex;
  gap: 5.3125rem;
}

.section-wrapper {
  padding-top: 1.75rem;
}

.section-title {
  text-transform: uppercase;
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 147%;
  margin: 0;
}

.test-drive-title {
  margin-top: 0;
  margin-bottom: 1.875rem;
}

.section-list-title {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 115%;
  margin-top: 0;
  margin-bottom: 1.125rem;
  letter-spacing: 0.5px;
}

.section-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 123%;
}

.section-list-icon {
  margin-right: 0.625rem;
}

.test-drive-image {
  border-radius: 10px;
  height: 26.375rem;
  width: 32.1875rem;
  object-fit: cover;
}

.education {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  display: flex;
  gap: 5.9375rem;
  padding-left: 1.875rem;
  padding-right: 5.5rem;
}

.education-image {
  border-radius: 10px;
  height: 28.9375rem;
  width: 32.1875rem;
  object-fit: cover;
}

.education-title {
  margin-top: 0;
  margin-bottom: 1.875rem;
}

.models-title {
  max-width: 45.75rem;
  text-align: center;
  margin: auto;
  margin-bottom: 3.125rem;
}

.models-wrapper {
  display: flex;
  padding-left: 10.375rem;
  padding-right: 10.375rem;
  gap: 1.875rem;
}
.model-card {
  border-radius: 10px;
  border: 1.5px solid #EAEBED;
  overflow: hidden;
  max-width: 15.9375rem;
  position: relative;
}

.model-bage {
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 141%;
  color: #FFF;
  position: absolute;
  top: 0.5625rem;
  left: 0.5625rem;
}

.red-bage {
  background-color: #EE685F;
  padding: 0.25rem 0.5625rem;
}

.green-bage {
  background-color: #75D14A;
  padding: 0.25rem 0.5rem;
}

.card-icon {
  position: absolute;
  top: 1.125rem;
  right: 1.0625rem;
}

.models-card-image {
  background-color: #F0F1F5;
  padding: 1.5625rem 0.625rem 1.1875rem 0.125rem;
}

.card-image {
  width: 15.125rem;
  height: 11.375rem;
}

.card-title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 144%;
  color: #282739;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.card-content {
  padding-top: 1.25rem;
  padding-left: 1.5rem;
  padding-bottom: 1.3125rem;
}

.characteristics {
  padding: 0;
  list-style-type: none;
  columns: 2;
  column-gap: 0.5rem;
  margin: 0;
}

.characteristics-item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 114%;
  color: #5D6C7B;
  margin-bottom: 1rem;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 0.625rem;
  padding-right: 1.4375rem;
}

.price-old {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 141%;
  color: #5D6C7B;
  text-decoration: line-through;
  margin: 0;
}

.price-new {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 128%;
  color: #282739;
}

.card-footer-icons {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.card-footer-icon {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 1.3px solid #EAEBED;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-button {
  width: 12.875rem;
  font-size: 0.75rem;
  padding: 0.875rem 0 10px 0;
}

.cta {
  margin-top: 6.25rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  margin-bottom: 6.25rem;
  background-color: #F4F7FB;
  padding-top: 5.5rem;
  padding-left: 8.4375rem;
  padding-bottom: 4.75rem;
  border-radius: 10px;
  position: relative;
}

.cta-title {
  max-width: 38.3125rem;
  margin-bottom: 1.9375rem;
  line-height: 146%;
}

.cta-form-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 144%;
  color: #282739;
  margin-top: 0;
  margin-bottom: 1.25rem;
}
.input-group-wrapper {
  display: flex;
  align-items: center;
  gap: 1.375rem;
  margin-bottom: 1.25rem;
}
.input {
  padding: 0.9375rem 0 0.9375rem 1.5625rem;
  border-radius: 5px;
}
.phone-input {
  border: 1px solid #EAEBED;
  font-weight: 400;
  font-size: 1rem;
  line-height: 143%;
  color: #5D6C7B;
  min-width: 16.4375rem;
  padding-left: 1.6875rem;
}

.cta-form-button {
  padding: 15px 25px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 143%;
}
.cta-form-footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.cta-checkbox {
  width: 1rem;
  height: 1rem;
  border-color: #F4F7FB;
  border-radius: 2px;
}

.cta-checkbox:checked {
  background-color: #FFF;
  border-color: #F4F7FB;
  color: #6F73EE;
}
.cta-form-footer-text {
  margin: 0;
  max-width: 19.1875rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 116%;
  color: #282739;
}

.cta-form-footer-link {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 116%;
  color: #282739;
}

.cta-image {
  position: absolute;
  bottom: 0;
  right: 11.25rem;
  width: 25.625rem;
  height: 31.5rem;
}

.footer {
  background-color: #F4F7FB;
}
.footer-header {
  background-color: #6F73EE;
}

.footer-header-wrapper {
  padding: 1.4375rem 10.3125rem 1.3125rem 10.3125rem;
  display: flex;
  align-items: center;
  gap: 5.9375rem;
}

.footer-title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 144%;
  color: #FFF;
  max-width: 27.8125rem;
  text-transform: uppercase;
  margin: 0;
}

.footer-form {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 1.25rem;
}

.footer-input {
  flex-grow: 1;
  color: #FFF;
  background-color: #FFFFFF33;
  border: none;
}

.footer-input::placeholder {
  color: #FFF;
}

.input:focus {
  outline: none;
}

.footer-button {
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
}

.footer-top {
  padding: 2.875rem 10.3125rem 3.9375rem 10.3125rem;
  display: flex;
}

.footer-menu-wrapper:nth-child(1) {
  margin-right: 7.8125rem;
}

.footer-menu-wrapper:nth-child(2) {
  margin-right: 6.3125rem;
}

.footer-menu-wrapper:nth-child(3) {
  margin-right: 4.6875rem;
}

.footer-menu-title {
  margin-top: 0;
  margin-bottom: 1.0625rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 144%;
  color: #282739;
}

.footer-menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
 
}

.footer-menu-item {
  margin-bottom: 0.625rem;
  
}
.footer-menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 143%;
  color: #5D6C7B;
}
.footer-menu-column-2 {
  columns: 2;
  column-gap: 2.5rem;
}
.footer-contacts-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-contacts-title {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 141%;
  color: #282739;
  margin-top: 0;
  margin-bottom: 0.3125rem;
}
.footer-contacts-phone {
  font-weight: 500;
  font-size: 1rem;
  line-height: 143%;
  color: #282739;
  text-decoration: none;
}
.footer-contacts-schedule {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 141%;
  color: #5D6C7B;
  margin-top: 0.4375rem;
}
.footer-link {
  text-decoration: none;
  color: #6F73EE;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 141%;
}

.footer-separator {
  max-width: 69.375rem;
  margin: auto;
  height: 1px;
  background-color: #5D6C7B;
  opacity: 0.15;
}

.footer-bottom {
  padding: 2.25rem 10.3125rem 1.8125rem 10.3125rem;
  display: flex;
  align-items: center;
}

.footer-logo {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 143%;
  color: #282739;
  margin: 0 3.6875rem 0 0;
}

.load-badges-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-right: 15.625rem;
}

.social-badges-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.social-badge {
  background-color: #FFF;
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  min-width: 7.6875rem;
  min-height: 2.8125rem;
  border-radius: 5px;
  padding-left: 0.6875rem;
}

.social-badge-content {
  margin-top: -7px;
}
.social-badge-title {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 142%;
  color: #282739;
  margin: 0;
}

.social-badge-subscribers {
  margin: 0;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 60%;
  color: #5D6C7B;
}

.footer-wrapper {
  padding: 1.125rem 10.3125rem;
  display: flex;
  align-items: center;
}

.footer-legal {
  display: flex;
  align-items: center;
  gap: 2.75rem;
  margin-right: 23.9375rem;
}

.footer-legal-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 141%;
  color: #5D6C7B;
}

.footer-payments-wrapper {
  margin-right: 2.3125rem;
}

.footer-payments-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.payment-badge-link {
  min-width: 2.125rem;
  min-height: 1.5rem;
  border-radius: 3px;
  border: 0.5px solid #EAEBED;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-chats-wrapper {
  display: flex;
  align-items: center;
}
.footer-chats-text {
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 142%;
  color: #282739;
  margin-right: 0.9375rem;
}

.footer-social-icon:not(:last-child) {
  margin-right: 0.875rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}

.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.modal.is-open .modal-dialog {
  transform: translateY(10%);
  opacity: 1;
}

.modal-dialog {
  background-color: #FFF;
  position: relative;
  max-width: 49.375rem;
  margin: auto;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.3s, opacity 0.3s;
  display: flex;
  gap: 69px;
  border-radius: 5px;
  padding: 40px 57px 37px 40px;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.modal-title {
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 144%;
  color: #282739;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 9px;
}

.modal-title-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 125%;
  color: #282739;
  margin-top: 0;
  margin-bottom: 1.8125rem;
}

.modal-text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 142%;
  color: #282739;
  margin-top: 0;
  margin-bottom: 5.375rem;
}

.modal-form-text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 141%;
  color: #5D6C7B;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.modal-button {
  margin-top: 1.25rem;
  min-width: 16.4375rem;
  height: 3.3125rem;
  margin-bottom: 1rem;
}

.modal-form-footer {
  display: flex;
  align-items: flex-start;
  padding-left: 1.0625rem;
}

.modal-checkbox {
  margin-right: 0.75rem;
}

.modal-form-footer-text {
  margin: 0;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 116%;
  color: #282739;
  max-width: 12.5rem;
}

.modal-form-footer-link {
  text-decoration: none;
  color: #6F73EE;
}

.modal-image-wrapper {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.modal-image {
  width: 21.0625rem;
  height: 31.0625rem;
}


@media (max-width: 1438px) {

  .cta-image {
    right: 8.25rem;
}

.footer-menu-wrapper:nth-child(1) {
  margin-right: 4.8125rem;
}

.footer-menu-wrapper:nth-child(2) {
  margin-right: 3.3125rem;
}

.footer-menu-wrapper:nth-child(3) {
  margin-right: 0.6875rem;
}

  .load-badges-wrapper {
    margin-right: 6.625rem;
  }

  .footer-legal {
    margin-right: 15.9375rem;
  }
}


@media (max-width: 1374px) {
  .test-drive {
    gap: 3.3125rem;
  }

  .card-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
  
.card-button {
  width: 100%;
}
}

@media (max-width: 1320px) {
  .test-drive {
    padding-left: 8.3125rem;
  }

 .card-footer {
  padding-right: 0.4375rem;
 }

 .footer-legal {
  margin-right: 13.9375rem;
 }
}

@media (max-width: 1278px) {
  html {
    font-size: 14px;
  }

  .footer-header-wrapper {
    gap: 1.9375rem;
  }
}


@media (max-width: 1150px) {
  .header-logo {
    margin-right: 1.1875rem;
  }

  .header-button {
    margin-right: 1rem;
  }

  .banner-content {
    padding: 2.5rem 7.5rem;
  }

  .header-controls {
    margin-right: 1rem;
  }

  .header-links {
    gap: 0.9rem;
  }

  .education {
    gap: 2.9375rem;
  }

  .test-drive {
    gap: 2.3125rem;
    padding-left: 8.3125rem;
  }

  .models-wrapper {
    padding-left: 8.3125rem;
    padding-right: 5.3125rem;
  }

  .card-image {
    width: 13.125rem;
    height: 10.375rem;
  }

  .characteristics-item {
    gap: 0.3rem;
    margin-bottom: 0.5rem;
  }

  .cta-image {
    right: 3.25rem;
  }

  .card-footer-icons {
    gap: 0.2rem;
  }

  .card-content {
    padding-bottom: 0.5rem;
  }

  .footer-top {
    padding: 1.875rem 8.3125rem 1.9375rem 8.3125rem;
    display: flex;
  }

  .footer-bottom {
    padding: 1.25rem 8.3125rem 0.8125rem 8.3125rem;
  }

  .footer-wrapper {
    padding: 1.125rem 8.3125rem;
  }

  .cta {
    padding-left: 6.4375rem;
  }
}

@media (max-width: 1096px) {
  .section-title {
    font-size: 1.9rem;
  }
}

@media (max-width: 1056px) {
  .section-list-item {
    align-items: normal;
  }

  .load-badges-wrapper {
    margin-right: 4.625rem;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 0 6.3125rem;
  }

  .header {
    padding: 1.3rem 6.3125rem 0 6.3125rem;
  }

  .banner {
    margin-top: 1.5rem;
  }

  .banner-image {
    background: none;
  }

  .banner-content {
    padding: 2rem 2.5rem;
    background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 100%);
  }

  .banner-text {
    margin-bottom: 1rem;
  }

  .banner-features {
    margin-bottom: 1rem;
  }

  .test-drive {
    flex-direction: column;
    margin-top: 2.5rem;
    gap: 0.3125rem;
    padding-left: 6.3125rem;
    margin-bottom: 2.5rem;
  }

  .test-drive-title {
    margin-bottom: 1rem;
    max-width: 48.5rem;
  }

  .education {
    flex-direction: column-reverse;
    padding-left: 6.3125rem;
    margin-top: 2.5rem;
    gap: 0.3125rem;
    margin-bottom: 4.25rem;
  }

  .education-title {
    margin-bottom: 1rem;
    max-width: 48.5rem;
  }

  .models-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 6.3125rem;
    padding-right: 2.3125rem;
  }

  .cta-image {
    display: none;
  }

  .cta {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-header-wrapper {
    padding-left: 6.3125rem;
    padding-right: 6.3125rem;
  }

  .footer-top {
    padding: 1.875rem 6.3125rem 0.9375rem 6.3125rem;
    justify-content: space-between;
  }

  .footer-menu-column-2 {
    columns: 1;
  }

  .footer-bottom {
    padding-left: 6.3125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .footer-wrapper {
    padding: 1.125rem 6.3125rem;
  }

  .footer-legal {
    margin-right: 0.9375rem;
    gap: 0.75rem;
  }

  .footer-payments-wrapper {
    margin-right: 1.3125rem;
  }

  .footer-chats-text {
    margin-right: 0.1rem;
  }

  .footer-social-icon:not(:last-child) {
    margin-right: 0.5rem;
}
}




@media (max-width: 768px) {
  .navbar {
    padding: 0 4.3125rem; 
  }

  .header-nav {
    gap: 0.7rem;
  }

  .header {
    padding: 1.3rem 4.3125rem 0 4.3125rem;
  }

  .header-logo {
    display: none;
  }

  .banner-title {
    font-size: 1.8rem;
  }

  .banner-text {
    margin-bottom: 1rem;
  }

  .banner-features {
    margin-bottom: 1.5rem;
  }
  
  .test-drive {
    padding-left: 4.3125rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .education {
    padding-left: 4.3125rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .models {
    margin-top: 1.5rem;
  }

  .models-wrapper {
    padding-left: 4.3125rem;
    padding-right: 4.3125rem;
    justify-content: center;
  }

  .cta {
    padding-left: 3.4375rem;
    margin-top: 4.25rem;
    margin-bottom: 4.25rem;
    padding-top: 3.5rem;
    padding-bottom: 3.75rem;
  }

  .footer-header-wrapper {
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
    flex-direction: column;
    gap: 0.75rem;
  }

  .footer-form {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }

  .footer-input {
    width: 100%;
  }

  .footer-button {
    width: 100%;
  }

  .footer-top {
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
  }

  .footer-menu-wrapper:nth-child(1) {
    margin-right: 0.3rem;
  }

  .footer-menu-wrapper:nth-child(2) {
    margin-right: 0.3rem;
  }

  .footer-menu-wrapper:nth-child(3) {
    margin-right: 0.3rem;
  }

  .footer-bottom {
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
  }

  .footer-wrapper {
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
  }
}

@media (max-width: 613px) {
  .input-group-wrapper {
    flex-direction: column;
  }

  .phone-input {
    width: 100%;
  }

  .cta-form-button {
    width: 100%;
  }

  .cta {
    align-items: center;
    padding-right: 40px;
  }

  .cta-title {
    margin-bottom: 0.9375rem;
  }

  .cta-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}


@media (max-width: 576px) {
  .navbar {
    padding: 0 1.3125rem;
  }

  .header {
    padding: 1rem 1.3125rem 0 1.3125rem;
  }

  .header-button {
    margin-right: 0.3rem;
    font-size: 0;
    gap: 0;
    padding-left: 0.6rem;
    padding-right: 0.8rem;
    height: 2.2rem;
  }

  .button-search {
    padding: 0.55rem;
  }

  .header-button-line {
    width: 1rem;
  }

  .header-button-line:nth-child(3) {
    width: 0.7rem;
}

  .header-controls {
    margin-right: 0.5rem;
    height: 2.2rem;
  }

  .header-input {
    padding-left: 0.5rem;
  }

  .header-links {
    gap: 0.4rem;
  }

  .header-link {
    font-size: 0;
  }

  .banner {
    padding: 0 1rem;
  }

  .banner-content {
    padding: 1rem 1.5rem;
  }

  .banner-features {
    gap: 0.6rem;
  }

  .banner-features-item {
    gap: 0.1625rem;
  }

  .banner-button {
    width: 100%;
  }

  .test-drive {
    padding: 0;
  }

  .section-wrapper {
    padding-left: 1.3125rem;
  }

  .test-drive-image {
    width: 100%;
    height: 30.375rem;
  }

  .section-title {
    font-size: 1.6rem;
  }

  .section-list-item {
    margin-bottom: 0.7rem;
  }
  
  .section-list-item {
    font-size: 1rem;
    margin-bottom: 0.35rem;
  }

  .education {
    padding: 0;
  }

  .education-title {
    max-width: 100%;
  }

  .education-image {
    width: 100%;
  }

  .section-list-icon {
    margin-right: 0.2rem;
    height: 19px;
    width: 19px;
  }

  .section-list-item {
    display: block;
  }

  .cta {
    padding-left: 1.4375rem;
    padding-right: 35px;
    margin-top: 1.25rem;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.25rem;
  }

  .footer-header {
    padding-left: 1.4375rem;
    padding-right: 1.4375rem;
  }

  .footer-top {
    padding-left: 1.4375rem;
    padding-right: 1.4375rem;
    flex-wrap: wrap;
  }

  .footer-bottom {
    padding-left: 1.4375rem;
    padding-right: 1.4375rem;
  }

  .footer-wrapper {
    padding-left: 1.4375rem;
    padding-right: 1.4375rem;
  }
} 

@media (max-width: 466px) {
  .test-drive-image {
    height: 23.375rem;
  }
}

@media (max-width: 439px) {
  .header-phone {
    display: none;
  }

  .education-image {
    height: 25.9375rem;
  }
  
}

@media (max-width: 406px) {
  .banner-features {
    flex-direction: column;
    align-items: flex-start;
  }
}

